  <footer class="footer">
  <div class="container">
    <div class="footer__left">
      <div class="footer__copy">

        {{ site.Params.copyright | markdownify }}
      </div>
    </div>
    <div class="footer__links">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        {{ $data := index .Site.Data .Site.Language.Lang }}
        {{ with $data.homepage.menus }}

        {{ range .footer }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL }}">{{ .name | upper }}</a>
        </li>
        {{ end }}

        {{ end }}
      </ul>
    </div>
    <div class="footer__right">
      <a href="{{ .Site.Params.footer.logo.link }}"
        ><img width="100" 
          src="{{ .Site.Params.footer.logo.x | absURL }}"
          alt="{{ .Site.Params.footer.logo.alt }}"
      /></a>
    </div>
  </div>
</footer>

<script async src="{{ "/js/scripts.min.js" | relURL }}" type="text/javascript"></script>

