<div class="info-table open">

    <h4>{{ i18n "nutrition" }}</h4>

    <div class="info-table-wrapper" data-drink="tangerine">
        <table>
            <tbody>
                <tr class="underline-dark">
                    <td>Serving Size</td>
                    <td>
                        <div class="serving-dropdown">
                            <a class="btn btn-info btn-md dropdown-toggle " id="dropdownMenuButton" data-toggle="dropdown">1 can (12 oz)
                            </a>
                            <div class="dropdown-menu" id="dropDownMenu" aria-labelledby="dropdownMenuButton">
                                
                                <a class="dropdown-item serving-12" data-serving="12" href="#" style="display: none;">1 can (12 oz)</a>
                                
                            </div>
                        </div>                                 
                    </td>
                </tr>
                <tr class="underline-none">
                    <td>Amount per Serving</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="underline-dark padded">
                    <td><h4>Calories</h4></td>
                    <td><h4><span class="calories">100</span></h4></td>
                </tr>
                <tr>                    
                    <td colspan="2">% Daily Values*</td>
                </tr>

                <tr>
                    <td><strong>Total Fat 0g</strong></td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td class="indent-cell">Saturated Fat 0g</td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td class="indent-cell">Trans Fat 0g</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="indent-cell">Polyunsaturated Fat 0g</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="indent-cell">Monounsaturated Fat 0g</td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td><strong>Cholesterol 0mg</strong></td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td><strong>Sodium <span class="sodium">20</span>mg</strong></td>
                    <td><span class="sodium-percent">1%<span></span></span></td>
                </tr>
                <tr>
                    <td><strong>Total Carbohydrate <span class="carbs">2</span>g</strong></td>
                    <td>1%</td>
                </tr>
                <tr>
                    <td class="indent-cell">Dietary Fiber 0g</td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td class="indent-cell">Sugars <span class="carbs">2</span>g</td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td><strong>Protein 0g</strong></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>Vitamin D-</strong></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>Calcium 0mg</strong></td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td><strong>Iron 0mg</strong></td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td><strong>Potassium 0mg</strong></td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td><strong>Vitamin A 0IU</strong></td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td><strong>Iron 0mg</strong></td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td><strong>Vitamin C 0mg</strong></td>
                    <td>0%</td>
                </tr>
            </tbody>
        </table>
        
        

    </div>
