{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.story.enable }}
{{ with $data.homepage.story }}

<section id="story" class="section section--border-bottom rad-animation-group">
    <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      
      <div class="col-12 col-md-12 my-auto my-auto text-center flavor-intro-text">
        <h2>{{ .title }}</h2>
        <p class="lead pb-5">
          {{ .content | safeHTML }}
        </p>
        
      </div>
        
    </div>
  </div>

  <div class="embed-responsive">
    <img src="img/general/play-button.png" class="play" id="play-button">
    <video playsinline id="videoPlayer" poster="video/phs.jpg">
      <source src="video/phs.mp4" type="video/mp4">
    </video>
  </div>

  <script type="text/javascript">
    var playButton = document.getElementById('play-button');

    playButton.addEventListener('click', function(){
      videoPlayer.play();
      this.classList.add("hidden");
      videoPlayer.setAttribute("controls","controls") 
    });
  </script>
    
</section>
{{ end }}
{{ end }}
